{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}
{% if total == 0 %}
<div class="div"style="margin-top: 100px; margin-bottom: 100px;">
    <h5 class="text-center">Your cart is empty.</h5>
    <p class="text-center"><a href="{% url 'store' %}" class="btn btn-primary">Continue Shopping</a></p>
</div>
{% else %}

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->

<div class="row">
	<aside class="col-lg-6">
<div class="card">

    <div class="card-body">
        <h4 class="card-title mb-4">Shipping address</h4>
        <form action="{% url 'place_order' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
		  <button class="btn btn-primary btn-block" type="submit"> Place Order </button>
        </form>
    </div> <!-- card-body.// -->
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-lg-6">
        <table class="table table-borderless table-shopping-cart">
<thead class="text-muted">
<tr class="small text-uppercase">
  <th scope="col">Product</th>
  <th scope="col" width="120">Quantity</th>
  <th scope="col" width="120">Price</th>
  <th scope="col" class="text-right" width="200"> </th>
</tr>
</thead>
<tbody>
	{% for cart_item in cart_items %}
<tr>
	<td>
	
		<figure class="itemside align-items-center">
			<div class="aside"><img src="{{ cart_item.product.image.url }}" class="img-sm"></div>
			<figcaption class="info">
				<a href="#" class="title text-dark">{{ cart_item.product.product_name }}</a>
				<p class="small text-muted">{{ cart_item.variation.size }}  <br> {{ cart_item.variation.color }}</p>
			</figcaption>
		</figure>
		
	</td>
	<td> 
		<div class="price-wrap"> 
            <var class="price">{{ cart_item.quantity }}</var> 
        </div> <!-- price-wrap .// -->
	</td>
	<td> 
		<div class="price-wrap"> 
			<var class="price">{{ cart_item.sub_total }}</var> 
			<small class="text-muted">{{ cart_item.product.price }}</small> 
		</div> <!-- price-wrap .// -->
	</td>
	
</tr>
{% endfor %}
</table>

		<div class="card">
		<div class="card-body">
			
		
	
			<a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->

</aside> <!-- col.// -->


</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

</div> <!-- container .//  -->
</section>
{% endif %}

{% endblock %}