{% extends 'base.html'%}
{% block content %}

<div class="container">
	<h2 class="title-page">Our Store</h2>
	
</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<aside class="col-md-3">
		
<div class="card">
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Categories</h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_1" style="">
			<div class="card-body">
				
				<ul class="list-menu">
                   <li><a  href="{% url 'store' %}">All Products</a></li>
                    {% for category in categories %}
                        <li><a href="{{ category.get_url }}">{{ category.category_name }}</a></li>
                    {% endfor %}
				</ul>

			</div> <!-- card-body.// -->
		</div>
	</article> <!-- filter-group  .// -->
	<article class="filter-group">
		<header class="card-header">
			<a href="{% url 'store' %}" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Sizes </h6>
			</a>
		</header>
		<form method="get" action="{{ request.path }}">

    <!-- your price filter -->
    <div class="filter-content collapse show" id="collapse_3">
        
    </div>

    <!-- your size filter -->
    <div class="filter-content collapse show" id="collapse_4">
        <div class="card-body">
            {% for variation in available_variations %}
                <label class="checkbox-btn">
                    <input type="radio" name="size" value="{{ variation.size }}">
                    <span class="btn btn-light">{{ variation.size }}</span>
                </label>
            {% endfor %}
        </div>
    </div>

  
	</article> <!-- filter-group .// -->
	
	<article class="filter-group">
		<header class="card-header">
			<a href="{% url 'store' %}" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Price range </h6>
			</a>
		</header>
		
		<div class="filter-content collapse show" id="collapse_3" style="">
			<div class="card-body">
				
				<div class="form-row">
				<div class="form-group col-md-6">
				  <label>Min</label>
				  <!-- <input class="form-control" placeholder="$0" type="number"> -->
				  	<select name="min_price" class="mr-2 form-control">
						  <option value="" {% if min_price == "" %}selected{% endif %}>Min</option>
						<option value="0" {% if min_price == "0" %}selected{% endif %}>$0</option>
						<option value="50" {% if min_price == "50" %}selected{% endif %}>$50</option>
						<option value="100" {% if min_price == "100" %}selected{% endif %}>$100</option>
						<option value="150" {% if min_price == "150" %}selected{% endif %}>$150</option>
						<option value="200" {% if min_price == "200" %}selected{% endif %}>$200</option>
						<option value="500" {% if min_price == "500" %}selected{% endif %}>$500</option>
						<option value="1000" {% if min_price == "1000" %}selected{% endif %}>$1000</option>
					</select>
				</div>
				
				<div class="form-group text-right col-md-6">
				  <label>Max</label>
				  	<select name="max_price" class="mr-2 form-control">
						  <option value="" {% if max_price == "" %}selected{% endif %}>Max</option>
						<option value="50" {% if max_price == "50" %}selected{% endif %}>$50</option>
						<option value="100" {% if max_price == "100" %}selected{% endif %}>$100</option>
						<option value="150" {% if max_price == "150" %}selected{% endif %}>$150</option>
						<option value="200" {% if max_price == "200" %}selected{% endif %}>$200</option>
						<option value="500" {% if max_price == "500" %}selected{% endif %}>$500</option>
						<option value="1000" {% if max_price == "1000" %}selected{% endif %}>$1000</option>
						<option value="2000" {% if max_price == "2000" %}selected{% endif %}>$2000+</option>
					</select>
				</div>
				</div> <!-- form-row.// -->
				<button type="submit" class="btn btn-block btn-primary">Apply</button>
				<a href="{% url 'store' %}" class="btn btn-block btn-outline-danger mt-2">Remove Filter</a>
			</div>
		
			<!-- card-body.// -->
			
		</div>
		
		</form>
		

	</article> <!-- filter-group .// -->
	
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<main class="col-md-9">

<header class="border-bottom mb-4 pb-3">
		<div class="form-inline">
			<span class="mr-md-auto"><b>{{ product_count }}</b> Items found </span>
			
		</div>
</header><!-- sect-heading -->
{% if products %}
<div class="row">
	
   {% for product in products %}
  
	<div class="col-md-4">
		<figure class="card card-product-grid">
			<div class="img-wrap"> 
			<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.image.url }}"> </a>
				
			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
				<div class="fix-height">
					<a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
					<div class="price-wrap mt-2">
						<span class="price">${{ product.price }}</span>
					</div> <!-- price-wrap.// -->
				</div>
				
					<a href="{{ product.get_url }}" class="btn btn-block btn-primary">View Details </a>
				
			</figcaption>
		</figure>
	</div> <!-- col.// -->
   {% endfor %}
	 <!-- col.// -->
</div> <!-- row end.// -->


<nav class="mt-4" aria-label="Page navigation sample">
  <ul class="pagination">
	{% if products.has_previous %}
    <li class="page-item "><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
	{% else %}
	<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
	{% endif %}
	{% for i in products.paginator.page_range %}
	{% if i == products.number %}
	<li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
	{% else %}
	<li class="page-item "><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
	{% endif %}
	{% endfor %}
    {% if products.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
	{% else %}
	<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>

    {% endif %}
  </ul>
</nav>
{% else %}
<div class="alert alert-danger" role="alert">
  No products found!
{% endif %}

	</main> <!-- col.// -->

</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTIO
{% endblock %}

